body  {
  background-color: #fdf0d5;
}

.carousel-inner{
  width:100%;
  max-height: 500px !important;
}

.container{
  background-color: #ffffff;
}

#show-info {
  display: none;
}

.orderInfo {
  cursor: pointer;
  color: #0088cc;
}

.orderInfo:hover {
  text-decoration: underline;
}
